@use './variables/' as*;
@import url('https://fonts.googleapis.com/css2?family=Carlito:ital,wght@0,400;0,700;1,400;1,700&family=Noto+Sans+TC:wght@100..900&family=Noto+Serif+TC:wght@200..900&display=swap');
* {
    box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
}

/* 重置內容字體(襯線體)、行高 */
body {
    font-family:
        /*西文*/
        "Carlito",
        /*中文*/
        "Noto Serif TC", serif;
    //光學尺寸(若字體有支援依照裝置大小改變線條粗細)
    font-optical-sizing: auto;
    line-height: 1.5;
}

/* 重置標題字重 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: $font-w-medium;
}

/* 重置清單符號 */
ul,
ol {
    list-style: none;
}

/* 重置圖片 */
img {
    display: block;
    width: 100%;
}

/* 重置連結 */
a {
    display: block;
    //將a預設的inline改為block，才能設定間距及寬高給超連結空間，排版上較方便
    text-decoration: none;
    }


/*reset end*/