@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@use '_keyframe' as*;


#index {
    width: 100%;
    height: 100vh;

    .row1 {
        display: flex;
        height: 90%;

        .row1-left {
            flex: 1;
            outline: $gray-light solid 2px;
            display: flex;
            justify-content: space-between;
            background-image: url(../images/bg-linear-right.jpg);
            background-position: right;
            z-index: 11;

            h1 {
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                font-size: $font-size-xxl;
                margin: $interval-m;
                letter-spacing: 0.6rem;

                a {
                    color: $gray-dark;
                }
            }

            h2 {
                text-align: right;
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                text-orientation: sideways;
                margin: 20px;
                letter-spacing: 0.2rem;
                color: $gray-normal;
            }
        }

        .row1-right {
            flex: 3;
            outline: $gray-light solid 2px;
            z-index: 11;

            .carousel {
                height: 100%;
                // background-image: url(../images/index-1.jpg);
                // background-size: cover;
                // background-position: center;
                // position: relative;
                // z-index: 10;


            }

            .carousel-item {
                position: absolute;
                right: 10px;
                bottom: 10px;
                ;
            }
        }
    }



    .row2 {
        display: flex;
        background-color: white;
        height: 10%;

        .row2-left {
            flex: 1;
            outline: $gray-light solid 2px;
            z-index: 10;
        }

        .row2-right {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-image: url(../images/bg-linear-left.jpg);
            background-size: cover;
            outline: $gray-light solid 2px;
            z-index: 10;

            ul {
                display: flex;
                margin-right: 10%;
                width: auto;

                li {
                    a {
                        text-align: center;
                        margin-right: 30px;
                        gap: 5px;
                    }

                    p {
                        font-size: $font-size-m;
                        font-weight: $font-w-semiBold;
                        color: $gray-dark;
                        line-height: 1.1;
                        background: linear-gradient(to left, transparent 50%, black 50%) right;
                        background-size: 200%;
                        transition: all ease-in-out 0.3s;
                    }

                    span {
                        font-size: $font-size-s;
                        font-weight: $font-w-regular;
                        color: $gray-normal;
                        width: auto;
                        background: linear-gradient(to left, transparent 50%, black 50%) right;
                        background-size: 200%;
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        p {
                            color: white;
                            font-weight: $font-w-regular;
                            background-position: left;
                        }

                        span {
                            width: auto;
                            color: white;
                            background-position: left;
                        }
                    }
                }
            }
        }
    }

    @media ($mediaMd) {
        .row1 {
            .row1-left {
                h1 {
                    margin-top: 50px;
                }
            }

            .row1-right {
                flex: 5;
            }
        }

        .row2 {
            .row2-right {
                flex: 5;
            }
        }

    }

    @media ($mediaSm) {
        .row1 {
            border: solid red;

            flex-direction: column;
            display: flex;

            .row1-left {
                flex: unset;
                flex-direction: column;

                h1 {
                    writing-mode: unset
                }

                h2 {
                    writing-mode: unset
                }
            }
        }

        .row2 {
            .row2-left {
                display: none;
            }

            .row2-right {
                ul {
                    margin-right: 0 !important;
                }
            }
        }
    }
}

/*專案經歷頁*/
#project {
    // background-color: lightcoral;
    @extend %bg-linear-left;
}

#project-header {
    display: flex;
    height: 65px;
    border-bottom: $gray-light 2px solid;

    .header-left {
        flex: 1;
        @extend %outline-basic;
        display: flex;
        align-items: end;

        h2 {
            margin-left: 60px;
            font-size: $font-size-l;

            a {
                color: $gray-normal;
                letter-spacing: 5px;
            }
        }
    }

    .header-right {
        flex: 3;
    }
}

#project-main {
    display: flex;
    width: 100%;
    height: calc(100vh - 65px);

    .mainLeft {
        @extend %bg-linear-right;
        flex: 22;
        flex-direction: column;

        .row1 {
            // outline: lightseagreen solid;
            height: calc(100vh - 165px);
            display: flex;
            width: 100%;
            position: relative;
            overflow: hidden;

            >div {
                display: flex;
                height: 100%;
                align-items: center;
                width: 100%;
                position: absolute;
                top: 0;
                transform: translateX(100%);
                /* 初始位置在右側外部 */
                transition: transform 0.5s ease;
                // display: block;
                /* 改為一直顯示，用 transform 控制可見性 */

                .carousel {
                    // outline: salmon solid;
                    flex: 3.2;
                    // background-image: url(../images/project1-1.jpg);
                    background-size: cover;
                    background-position: center;
                    height: 80%;

                    #arrowsWrap {
                        margin-top: 25px;
                    }
                }

                .projectContent {
                    // outline: sandybrown solid;
                    flex: 2;
                    color: $gray-dark;
                    padding: 0 55px;
                    margin-bottom: 100px;

                    h2 {
                        font-size: $font-size-xl;

                        &::after {
                            content: "";
                            font-size: 4rem;
                            color: $gray-bright;
                            font-family: $font-family-zh;
                        }
                    }
                }

                .project-intro {
                    margin-bottom: 100px;
                }

                .project-detail {
                    p {
                        margin: 10px 0;
                    }
                }

            }

            /* 預設第一個內容顯示 */
            .row1>div:first-child {
                transform: translateX(0);
            }

            >div.show {

                transform: translateX(0);
                z-index: 2;
            }

            /* 剛被切換掉的內容 */
            .row1>div.hide-left {
                transform: translateX(-100%);
            }

            /* 等待顯示的內容 */
            .row1>div.wait-right {
                transform: translateX(100%);
            }

            // 指定頁after
            .row1-1 .projectContent h2::after {
                content: "01.";
            }

            .row1-2 .projectContent h2::after {
                content: "02.";
            }

            .row1-3 .projectContent h2::after {
                content: "03.";
            }

            .row1-4 .projectContent h2::after {
                content: "04.";
            }

            .row1-5 .projectContent h2::after {
                content: "05.";
            }
        }

        .row2 {
            // outline: lightskyblue solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            height: 100px;
            width: 100%;
            padding: 20px;
            gap: 10px;

            p {
                margin: 0 10px;
                color: $gray-normal;
            }

            .project-list {
                ul {
                    display: flex;
                    color: $gray-normal;

                    li {
                        margin: 0 10px;
                        transition: all 0.3s ease;

                        &:hover {
                            cursor: pointer;
                            color: $gray-darker;
                        }
                    }

                    .active {
                        color: $gray-brighter;
                        background-color: $gray-dark;

                        &:hover {
                            cursor: pointer;
                            color: $gray-brighter;
                        }
                    }
                }
            }
        }
    }

    .mainRight {
        flex: 1;
        min-width: 60px;
        // outline: lavender solid
        @extend %outline-basic;
    }
}

.tooltip {
    color: red;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
}

.debug-hotspot {
    position: absolute;
    border: 2px solid rgba(255, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.2);
    pointer-events: none;
    /* 確保不會干擾滑鼠事件 */
    z-index: 100;

    &::after {
        content: attr(data-area);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 2px 6px;
        border-radius: 3px;
        font-size: 12px;
    }
}

/*業務內容頁*/
#content {
    @extend %bg-linear-right;

    #content-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 22;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }
        }

        .header-right {
            flex: 1;
            min-width: 60px;

        }
    }

    #content-main {
        width: 100%;
        height: calc(100vh - 65px);

        .middle {
            height: calc(100vh - 130px);
            display: flex;
            z-index: 11;

            .mainLeft {
                flex: 1;
                min-width: 60px;
            }

            .mainRight {
                @extend %outline-basic;
                // background-color: white;
                @extend %bg-linear-left;

                flex: 22;
                display: flex;
                justify-content: center;

                .col-wrap {
                    width: 100%;
                    max-width: 1400px;
                    justify-content: space-evenly;
                    align-items: center;
                    display: flex;

                    .col {
                        max-width: 250px;
                        width: 18%;

                        &:hover {
                            img {
                                filter: brightness(50%);
                            }
                        }

                        img {
                            width: 100%;
                        }

                        h3 {
                            text-align: center;
                            color: $gray-normal;
                            margin: 20px 0;
                            padding-bottom: 5px;
                        }

                        article {
                            color: $gray-normal;
                            border-left: $gray-light solid 2px;
                            padding-left: 15px;
                            padding-right: 5px;
                            line-height: $font-size-xxl;
                        }
                    }
                }
            }
        }

        .bottom {
            background-color: lightpink;
            height: 65px;
            display: flex;
            border-top: $gray-light solid 2px;

            .bottomLeft {
                flex: 1;
                border-right: $gray-light solid 2px;
                background-color: white;
            }

            .bottomRight {
                flex: 3;
                @extend %bg-linear-left;
                z-index: 10;
            }
        }
    }
}

/*關於建築師頁*/

#about {
    @extend %bg-linear-left;

    #about-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 3;
        }

        .header-right {
            flex: 1;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }
        }

    }

    #about-main {
        width: 100%;
        height: calc(100vh - 65px);

        .middle {
            height: calc(100vh - 65px);
            display: flex;
            z-index: 11;

            .mainRight {
                flex: 1;
                min-width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .bottomRight {
                    height: 65px;
                    border-top: $gray-light solid 2px;

                    min-width: 60px;
                    border-left: $gray-light solid 2px;
                    background-color: white;
                }
            }

            .mainLeft {
                @extend %outline-basic;
                @extend %bg-linear-right;
                flex: 22;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .col-wrap {
                    display: flex;
                    height: calc(100vh - 130px);
                    align-content: center;

                    .col-1 {
                        flex: 3;
                        display: flex;
                        align-items: center;

                        .carousel {
                            height: 90%;

                            img {
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .col-2 {
                        flex: 1;
                        display: flex;
                        padding-left: 150px;
                        justify-content: start;
                        align-items: center;


                        .profile-wrap {
                            color: $gray-normal;

                            img {
                                width: 200px;
                            }

                            .profile-name {
                                color: $gray-dark;
                                font-size: $font-size-l;
                                letter-spacing: .4rem;
                                margin: 25px 0;
                                padding-left: 10px;

                            }

                            .profile-title {
                                margin-bottom: 15px;
                                padding-left: 10px;
                                letter-spacing: .2rem;
                            }

                            .profile-detail {
                                font-size: $font-size-s;
                                line-height: $font-size-xxl;
                                letter-spacing: .1rem;
                                padding-left: 10px;

                            }
                        }
                    }

                    .col-3 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        max-width: 400px;

                        iframe {
                            // margin-right:80px;
                            // margin-left: 50px;
                            aspect-ratio: 16/9;
                            width: 100%;
                            height: auto;
                        }
                    }

                    @media (max-width:1440px) {
                        .col-1 {
                            flex: 2;
                        }

                        .col-2 {
                            flex: 1;
                            justify-content: center;
                            padding-left: 0px;
                        }

                        .col-3 {
                            flex: 1;
                        }
                    }

                    @media ($mediaMd) {
                        .col-3 {
                            display: none;
                        }
                    }
                }

                @media ($mediaSm) {
                    .col-wrap {
                        flex-direction: column;
                    }
                }
            }

            .bottomLeft {
                height: 65px;
                width: 100%;
                border-top: $gray-light solid 2px;

                background-color: white;
                @extend %bg-linear-left;
            }
        }
    }
}


/*聯絡資訊頁*/
#contact {
    @extend %bg-linear-right;

    #contact-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 22;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }
        }

        .header-right {
            flex: 1;
            min-width: 60px;
        }
    }

    #contact-main {
        width: 100%;
        height: calc(100vh - 130px);
        display: flex;

        .mainLeft {
            flex: 1;
            min-width: 60px;
        }

        .mainRight {
            @extend %outline-basic;
            background-color: white;
            flex: 22;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $gray-normal;

            .col-1 {
                flex: 1;
                // height: 80%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 20px;
                padding-left: 100px;

                .col-1-wrap {

                    h3 {
                        font-size: $font-size-l;
                    }

                    ul {
                        font-family: $font-family-zh;
                        letter-spacing: .1rem;

                        li {
                            margin: 10px 0;
                        }
                    }
                }
            }

            .col-2 {
                flex: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;


                h3 {
                    font-size: $font-size-l;
                    margin-bottom: 25px;
                }

                #contact-form {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 30px;
                    padding-right: 90px;

                    .form-row {
                        display: flex;
                        width: 100%;

                        label {
                            flex: 1;
                            text-align: end;
                            margin-right: 15px;
                        }

                        input,
                        textarea {
                            flex: 4;
                            width: 100%;
                            color: $gray-light;
                            font-size: $font-size-s;
                            padding: 5px;
                            outline-color: transparent;
                            border-radius: 2pt;
                            border: $gray-light solid 1px;

                            &::placeholder {
                                color: $gray-light;
                                padding-left: 5px;
                            }

                            &:focus {
                                box-shadow: 0 0 3px 2px $gray-light;

                            }
                        }
                    }


                    #submit-btn {
                        width: 70px;
                        background-color: white;
                        border: $gray-normal solid 1px;
                        color: $gray-normal;
                        margin-left: 90px;

                    }

                    small {
                        font-size: $font-size-xs;
                        color: $gray-bright;
                    }
                }
            }

        }
    }

    footer {
        height: 65px;
        @extend %bg-linear-left;
        line-height: 65px;
        text-align: center;
        letter-spacing: .2rem;
        border-top: $gray-light 2px solid;
        color: $gray-normal;
        font-family: $font-family-zh;
    }
}

/*選單面板*/
#menuOverlay-right {
    // border: solid indianred;
    position: absolute;
    z-index: 999;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: end;
    overflow: hidden;
    // display: none;
    animation: hide .35s both;

    &.show {
        display: flex;
        animation: show 0.4s both;
    }

    .menu-wrap {
        height: 100%;
        width: 80%;
        background-image: url(../images/bg-linear-left.jpg);
        background-color: white;
        background-position: right;
        background-repeat: no-repeat;
        display: flex;
        position: relative;



        .col-page {
            // border: solid lawngreen;
            flex: 1;
            min-width: 225px;
            z-index: 10;

            ul {
                // border: solid goldenrod;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li {
                    // border: solid palevioletred;
                    width: auto;

                    a {
                        text-align: center;

                    }

                    p {
                        @extend %menu-link-p;
                    }

                    span {
                        @extend %menu-link-span;
                    }

                    &:hover {
                        P {
                            @extend %menu-link-p-hover;
                        }

                        span {
                            @extend %menu-link-span-hover;
                        }
                    }

                }
            }
        }

        .col-pic {
            // border: solid lightskyblue;
            flex: 3;
            z-index: 10;
            margin-top: 90px;

            .thumbnail-pic {
                // border: solid lightsalmon;
                display: flex;

                figure {
                    width: 100px;
                    height: 75px;
                    margin-right: 40px;
                    position: relative;
                    // border: solid lightsalmon;

                    h3 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        text-align: center;
                        background-color: rgb(34, 34, 34, .6);
                        color: white;
                        font-weight: $font-w-light;
                        font-size: $font-size-s;
                        opacity: 0;
                        transition: $speed-fast;
                        outline: $gray-darker 2px solid;
                        outline-offset: -6px;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .bg-menu {
            width: 700px;
            position: absolute;
            bottom: -50px;
            right: -70px;
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: 0.6;
        }
    }
}

#menuOverlay-left {
    // border: solid indianred;
    position: absolute;
    z-index: 999;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: start;
    overflow: hidden;
    // display: none;
    animation: hide .35s both;

    &.show {
        display: flex;
        animation: show 0.4s both;
    }

    .menu-wrap {
        height: 100%;
        width: 80%;
        background-image: url(../images/bg-linear-left.jpg);
        background-color: white;
        background-position: right;
        background-repeat: no-repeat;
        display: flex;
        position: relative;



        .col-page {
            // border: solid lawngreen;
            flex: 1;
            min-width: 225px;
            z-index: 10;

            ul {
                // border: solid goldenrod;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li {
                    // border: solid palevioletred;
                    width: auto;

                    a {
                        text-align: center;

                    }

                    p {
                        @extend %menu-link-p;
                    }

                    span {
                        @extend %menu-link-span;
                    }

                    &:hover {
                        P {
                            @extend %menu-link-p-hover;
                        }

                        span {
                            @extend %menu-link-span-hover;
                        }
                    }

                }
            }
        }

        .col-pic {
            // border: solid lightskyblue;
            flex: 3;
            z-index: 10;
            margin-top: 90px;

            .thumbnail-pic {
                // border: solid lightsalmon;
                display: flex;

                figure {
                    width: 100px;
                    height: 75px;
                    margin-right: 40px;
                    position: relative;

                    h3 {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: rgb(34, 34, 34, .6);
                        color: white;
                        opacity: 0;
                        transition: $speed-fast;

                        &:hover {
                            opacity: 1;
                        }
                    }
                }
            }
        }

        .bg-menu {
            width: 700px;
            position: absolute;
            bottom: -50px;
            right: -70px;
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: 0.6;
        }
    }
}

.hamburger {
    // 修改button預設樣式
    // outline:solid yellow;
    background-color: transparent;
    border: none;
    cursor: pointer;

    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-dark;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }

    // &.is-active {
    //     .bar {
    //         &:nth-child(1) {
    //             transform: rotate(45deg) translateY(6px) translateX(5px);
    //         }

    //         &:nth-child(2) {
    //             opacity: 0;
    //         }

    //         &:nth-child(3) {
    //             transform: rotate(-45deg) translateY(-6px)translateX(5px);
    //         }
    //     }
    // }
}

.mainLeft {
    display: flex;
    justify-content: end;
    align-items: start;
}

.ham-inside-R {
    // 修改button預設樣式
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 25px;
    align-self: self-start;

    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-dark;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }

    .bar {
        &:nth-child(1) {
            transform: rotate(45deg) translateY(6px) translateX(5px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px)translateX(5px);
        }
    }

    &.is-active {}
}

.ham-inside-L {
    // 修改button預設樣式
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 25px;


    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-dark;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }

    .bar {
        &:nth-child(1) {
            transform: rotate(45deg) translateY(6px) translateX(5px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px)translateX(5px);
        }
    }

    &.is-active {}
}