@use 'reset';
@use 'variables' as *;
@use 'function' as *;
@use '_keyframe' as*;


#index {
    width: 100%;
    height: 100vh;

    .row1 {
        display: flex;
        height: 90%;

        .row1-left {
            flex: 1;
            outline: $gray-light solid 2px;
            display: flex;
            justify-content: space-between;
            background-image: url(../images/bg-linear-right.jpg);
            background-position: right;
            z-index: 11;

            h1 {
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                font-size: $font-size-xxl;
                margin: $interval-m;
                letter-spacing: 0.6rem;

                a {
                    color: $gray-dark;
                }
            }

            h2 {
                text-align: right;
                -webkit-writing-mode: vertical-lr;
                writing-mode: vertical-lr;
                text-orientation: sideways;
                margin: 20px;
                letter-spacing: 0.2rem;
                color: $gray-normal;
            }
        }

        .row1-right {
            flex: 3;
            outline: $gray-light solid 2px;
            z-index: 11;

            .carousel {
                height: 100%;
                // background-image: url(../images/index-1.jpg);
                // background-size: cover;
                // background-position: center;
                // position: relative;
                // z-index: 10;


            }

            .carousel-item {
                position: absolute;
                right: 10px;
                bottom: 10px;
                ;
            }
        }
    }



    .row2 {
        display: flex;
        background-color: white;
        height: 10%;

        .row2-left {
            flex: 1;
            outline: $gray-light solid 2px;
            z-index: 10;
        }

        .row2-right {
            flex: 3;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            background-image: url(../images/bg-linear-left.jpg);
            background-size: cover;
            outline: $gray-light solid 2px;
            z-index: 10;

            ul {
                display: flex;
                margin-right: 10%;
                width: auto;

                li {
                    a {
                        text-align: center;
                        margin-right: 30px;
                        gap: 5px;
                    }

                    p {
                        font-size: $font-size-m;
                        font-weight: $font-w-semiBold;
                        color: $gray-dark;
                        line-height: 1.1;
                        background: linear-gradient(to left, transparent 50%, black 50%) right;
                        background-size: 200%;
                        transition: all ease-in-out 0.3s;
                    }

                    span {
                        font-size: $font-size-s;
                        font-weight: $font-w-regular;
                        color: $gray-normal;
                        width: auto;
                        background: linear-gradient(to left, transparent 50%, black 50%) right;
                        background-size: 200%;
                        transition: all ease-in-out 0.3s;
                    }

                    &:hover {
                        p {
                            color: white;
                            font-weight: $font-w-regular;
                            background-position: left;
                        }

                        span {
                            width: auto;
                            color: white;
                            background-position: left;
                        }
                    }
                }
            }
        }
    }

    @media ($mediaMd) {
        .row1 {
            .row1-left {
                h1 {
                    margin-top: 50px;
                }
            }

            .row1-right {
                flex: 5;
            }
        }

        .row2 {
            .row2-right {
                flex: 5;
            }
        }

    }

    @media ($mediaSm) {
        .row1 {
            flex-direction: column;
            display: flex;

            .row1-left {
                flex: unset;
                flex-direction: column;
                max-height: 150px;

                h1 {
                    writing-mode: unset;
                    margin-top: 0;
                    margin-bottom: 5px;
                    font-size: $font-size-xl;
                }

                h2 {
                    writing-mode: unset;
                }
            }
        }

        .row2 {
            .row2-left {
                display: none;
            }

            .row2-right {
                justify-content: center;

                ul {
                    width: 100%;
                    margin-right: 0 !important;
                    justify-content: space-around;

                    li {
                        a {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}

/*專案經歷頁*/
#project {
    // background-color: lightcoral;
    @extend %bg-linear-left;
}

#project-header {
    display: flex;
    height: 65px;
    border-bottom: $gray-light 2px solid;

    .header-left {
        flex: 1;
        @extend %outline-basic;
        display: flex;
        align-items: end;

        h2 {
            margin-left: 60px;
            font-size: $font-size-l;

            a {
                color: $gray-normal;
                letter-spacing: 5px;
            }
        }
    }

    .header-right {
        flex: 3;
    }

    @media ($media-ipadPro) {
        .header-left {
            flex: 2;

            h2 {
                margin-bottom: 15px;
            }
        }
    }

    @media ($mediaSm) {
        .header-left {
            flex: 9;

            h2 {
                margin-bottom: 15px;
            }
        }
    }
}

#project-main {
    display: flex;
    width: 100%;
    height: calc(100vh - 65px);

    .mainLeft {
        @extend %bg-linear-right;
        flex: 22;
        flex-direction: column;

        .row1 {
            // outline: lightseagreen solid;
            height: calc(100vh - 165px);
            display: flex;
            width: 100%;
            position: relative;
            overflow: hidden;

            >div {
                display: flex;
                height: 100%;
                align-items: center;
                width: 100%;
                position: absolute;
                top: 0;
                transform: translateX(100%);
                /* 初始位置在右側外部 */
                transition: transform 0.5s ease;
                // display: block;
                /* 改為一直顯示，用 transform 控制可見性 */

                .carousel {
                    // outline: salmon solid;
                    flex: 3.2;
                    // background-image: url(../images/project1-1.jpg);
                    background-size: cover;
                    background-position: center;
                    height: 80%;

                    #arrowsWrap {
                        margin-top: 25px;
                    }

                    @media ($mediaSm) {
                        flex: 1;
                    }
                }

                .projectContent {
                    // outline: sandybrown solid;
                    flex: 2;
                    color: $gray-dark;
                    padding: 0 55px;
                    margin-bottom: 100px;

                    h2 {
                        font-size: $font-size-xl;

                        &::after {
                            content: "";
                            font-size: 4rem;
                            color: $gray-bright;
                            font-family: $font-family-zh;
                        }
                    }

                    @media ($mediaSm) {
                        padding: 0 35px;
                    }
                }

                .project-intro {
                    margin-bottom: 100px;
                }

                .project-detail {

                    p {
                        margin-bottom: 10px;
                    }

                    .detail-note {
                        display: inline;
                        background-color: $gray-bright;
                        color: $gray-darker;
                        font-size: $font-size-s;
                        padding: 2px 5px;
                    }

                    .detail-note-mobile {
                        display: none;
                        background-color: $gray-bright;
                        color: $gray-darker;
                        font-size: $font-size-s;
                        padding: 2px 5px;
                    }
                }

                @media ($media-ipadPro) {
                    .projectContent {
                        .project-detail {
                            .detail-note {
                                display: none;
                            }

                            .detail-note-mobile {
                                display: inline;
                            }
                        }
                    }
                }

                @media ($mediaSm) {
                    .projectContent {
                        flex: 1;
                        margin-bottom: 10px;
                        overflow: scroll;
                        z-index: 100;
                        padding: 30px ;

                        .project-intro {
                            margin-bottom: 15px;
                        }

                        .project-detail {
                            p {
                                margin: 8px 0;
                            }

                            .detail-note {
                                display: none;
                            }

                            .detail-note-mobile {
                                display: inline;
                            }
                        }

                        h2 {
                            position: relative;
                            margin-bottom: 5px;

                            &::after {
                                position: absolute;
                                top: -1.4rem;
                                font-size: 2.5rem;
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            /* 預設第一個內容顯示 */
            .row1>div:first-child {
                transform: translateX(0);
            }

            >div.show {

                transform: translateX(0);
                z-index: 2;
            }

            /* 剛被切換掉的內容 */
            .row1>div.hide-left {
                transform: translateX(-100%);
            }

            /* 等待顯示的內容 */
            .row1>div.wait-right {
                transform: translateX(100%);
            }

            // 指定頁after
            .row1-1 .projectContent h2::after {
                content: "01.";
            }

            .row1-2 .projectContent h2::after {
                content: "02.";
            }

            .row1-3 .projectContent h2::after {
                content: "03.";
            }

            .row1-4 .projectContent h2::after {
                content: "04.";
            }

            .row1-5 .projectContent h2::after {
                content: "05.";
            }
        }

        @media ($mediaSm) {

            .row1-1,
            .row1-2,
            .row1-3,
            .row1-4,
            .row1-5 {
                flex-direction: column;

                .carousel {
                    margin-bottom: 50px;
                    width: 100%;
                }
            }
        }

        .row2 {
            // outline: lightskyblue solid;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: end;
            height: 100px;
            width: 100%;
            padding: 20px;
            gap: 10px;

            p {
                margin: 0 10px;
                color: $gray-light;
            }

            .project-list {
                ul {
                    display: flex;
                    color: $gray-normal;

                    li {
                        margin: 0 10px;
                        transition: all 0.3s ease;


                        &:hover {
                            cursor: pointer;
                            color: $gray-darker;
                        }
                    }

                    .active {
                        color: $gray-brighter;
                        background-color: $gray-dark;

                        &:hover {
                            cursor: pointer;
                            color: $gray-brighter;
                        }
                    }
                }
            }
        }

        @media ($mediaSm) {
            .row2 {
                padding: 0 15px;
                align-items: start;
            }

            .tip {
                display: none;
            }

            .project-list {
                width: 100%;
                overflow: scroll;
                margin-bottom: 15px;

                ul {
                    flex-direction: column;
                }
            }
        }
    }

    .mainRight {
        flex: 1;
        min-width: 60px;
        // outline: lavender solid
        @extend %outline-basic;
        @media ($mediaSm) {
            min-width: 45px;
        }
    }
}

.tooltip {
    font-family: $font-family-zh-sans;
    color: $gray-dark;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    font-size: 14px;
}

/*業務內容頁*/
#content {
    @extend %bg-linear-right;

    #content-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 22;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }

            @media ($media-ipadPro) {
                h2 {
                    margin-bottom: 15px;
                }
            }
        }

        .header-right {
            flex: 1;
            min-width: 60px;

        }

    }

    #content-main {
        width: 100%;
        height: calc(100vh - 65px);

        .middle {
            height: calc(100vh - 130px);
            display: flex;
            z-index: 11;

            .mainLeft {
                flex: 1;
                min-width: 60px;
                @media ($mediaSm) {
                    min-width: 45px;
                }
            }

            .mainRight {
                @extend %outline-basic;
                // background-color: white;
                @extend %bg-linear-left;

                flex: 22;
                display: flex;
                justify-content: center;

                .col-wrap {
                    width: 100%;
                    max-width: 1400px;
                    justify-content: space-evenly;
                    align-items: center;
                    display: flex;

                    .col {
                        max-width: 250px;
                        width: 18%;



                        figure {
                            position: relative;
                            display: flex;
                            justify-content: center;

                            p {
                                position: absolute;
                                align-self: start;
                                margin-top: 30%;
                                opacity: 0;
                            }

                            &:hover {
                                p {
                                    opacity: 1;
                                    color: white;
                                    font-weight: $font-w-light;
                                    letter-spacing: 2px;
                                    cursor: pointer;
                                }

                                img {
                                    cursor: pointer;
                                    filter: brightness(50%);
                                }
                            }

                        }

                        img {
                            width: 100%;
                        }

                        h3 {
                            text-align: center;
                            color: $gray-normal;
                            margin: 20px 0;
                            padding-bottom: 5px;
                        }

                        article {
                            color: $gray-normal;
                            border-left: $gray-light solid 2px;
                            padding-left: 15px;
                            padding-right: 5px;
                            line-height: $font-size-xxl;
                        }
                    }
                }

                @media ($media-ipadPro) {
                    .col-wrap {
                        flex-direction: column;

                        .col {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            max-height: 200px;
                            max-width: none;
                            justify-content: center;
                            align-items: center;

                            h3 {
                                -webkit-writing-mode: vertical-lr;
                                writing-mode: vertical-lr;
                                font-size: $font-size-xl;
                                margin: 0 25px;
                            }

                            figure {
                                height: 100%;

                                img {
                                    height: 100%;
                                    aspect-ratio: 1/1;
                                }
                            }
                        }
                    }
                }

                @media ($mediaSm) {
                    .col-wrap {
                        padding: 0 10px;
                        overflow: scroll;

                        .col {
                            h3 {
                                margin: 0 10px;
                                font-size: $font-size-m
                            }

                            figure {
                                height: 60%;
                                aspect-ratio: 1/1;

                                img {
                                    object-fit: cover;
                                }
                            }

                            article {
                                font-size: $font-size-s;
                                line-height: 1.2rem;
                            }
                        }
                    }
                }
            }
        }

        .bottom {
            background-color: lightpink;
            height: 65px;
            display: flex;
            border-top: $gray-light solid 2px;

            .bottomLeft {
                flex: 1;
                border-right: $gray-light solid 2px;
                background-color: white;
            }

            .bottomRight {
                flex: 3;
                @extend %bg-linear-left;
                z-index: 10;
            }
        }
    }
}

/*關於建築師頁*/
#about {
    @extend %bg-linear-left;

    #about-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 3;
        }

        @media ($media-ipadPro) {
            .header-right {
                h2 {
                    margin-bottom: 15px;
                }
            }

            .header-left {
                flex: 2;
            }
        }

        .header-right {
            flex: 1;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }

            @media ($mediaSm) {
                flex: 22;
            }
        }

    }

    #about-main {
        width: 100%;
        height: calc(100vh - 65px);

        .middle {
            height: calc(100vh - 65px);
            display: flex;
            z-index: 11;

            .mainRight {
                flex: 1;
                min-width: 60px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @media ($mediaSm) {
                    min-width: 45px;
                }

                .bottomRight {
                    height: 65px;
                    border-top: $gray-light solid 2px;

                    min-width: 60px;
                    border-left: $gray-light solid 2px;
                    background-color: white;
                }
            }

            .mainLeft {
                @extend %outline-basic;
                @extend %bg-linear-right;
                flex: 22;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .col-wrap {
                    display: flex;
                    height: calc(100vh - 130px);
                    align-content: center;

                    .col-1 {
                        flex: 3;
                        display: flex;
                        align-items: center;

                        .carousel {
                            height: 90%;

                            img {
                                height: 100%;
                                object-fit: contain;
                            }
                        }
                    }

                    .col-2 {
                        flex: 1;
                        display: flex;
                        padding-left: 150px;
                        justify-content: start;
                        align-items: center;


                        .profile-wrap {
                            color: $gray-normal;

                            img {
                                width: 200px;
                            }

                            .profile-name {
                                color: $gray-dark;
                                font-size: $font-size-l;
                                letter-spacing: .4rem;
                                margin: 25px 0;
                                padding-left: 10px;

                            }

                            .profile-title {
                                margin-bottom: 15px;
                                padding-left: 10px;
                                letter-spacing: .2rem;
                            }

                            .profile-detail {
                                font-size: $font-size-s;
                                line-height: $font-size-xxl;
                                letter-spacing: .1rem;
                                padding-left: 10px;

                            }
                        }
                    }

                    .col-3 {
                        flex: 1;
                        display: flex;
                        align-items: center;
                        max-width: 400px;

                        iframe {
                            // margin-right:80px;
                            // margin-left: 50px;
                            aspect-ratio: 16/9;
                            width: 100%;
                            height: auto;
                        }
                    }

                    @media (max-width:1440px) {
                        .col-1 {
                            flex: 2;
                        }

                        .col-2 {
                            flex: 1;
                            justify-content: center;
                            padding-left: 0px;

                        }

                        .col-3 {
                            flex: 1;
                        }
                    }

                    // @media ($mediaMd) {
                    //     .col-2{
                    //         .profile-wrap{
                    //             border: red solid;
                    //             display: flex;
                    //             flex-direction: row;
                    //         }
                    //     }
                    //     .col-3 {
                    //         display: none;
                    //     }
                    // }
                }

                @media ($media-ipadPro) {
                    .col-wrap {
                        width: 100%;
                        align-items: end;

                        .col-1 {
                            justify-content: center;
                            margin-bottom: 50px;

                            .carousel {
                                max-width: 800px;
                            }
                        }

                        .col-2 {
                            position: absolute;
                            top: 150px;
                            right: 20%;
                        }

                        .col-3 {
                            position: absolute;
                            top: 150px;
                            left: 10%;
                            max-width: 500px;
                        }
                    }
                }

                @media ($mediaSm) {
                    .col-wrap {
                        flex-direction: column;
                        align-items: center;
                        overflow: scroll;

                        .col-2 {
                            order: -1;
                            position: unset;

                            .profile-wrap {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                margin-top: 35px;

                                img {
                                    width: 40%;
                                    height: 100%;
                                }
                            }
                        }

                        .col-3 {
                            display: none;
                        }
                    }
                }
            }

            .bottomLeft {
                height: 65px;
                width: 100%;
                border-top: $gray-light solid 2px;

                background-color: white;
                @extend %bg-linear-left;
            }
        }
    }
}


/*聯絡資訊頁*/
#contact {
    @extend %bg-linear-right;

    #contact-header {
        display: flex;
        height: 65px;
        border-bottom: $gray-light 2px solid;

        .header-left {
            flex: 22;
            @extend %outline-basic;
            display: flex;
            justify-content: start;
            align-items: end;

            h2 {
                margin-left: 60px;
                font-size: $font-size-l;

                a {
                    color: $gray-normal;
                    letter-spacing: 5px;
                }
            }
        }

        .header-right {
            flex: 1;
            min-width: 60px;
        }

        @media ($media-ipadPro) {
            .header-left {
                h2 {
                    margin-bottom: 15px;
                }
            }
        }
    }

    #contact-main {
        width: 100%;
        height: calc(100vh - 130px);
        display: flex;

        .mainLeft {
            flex: 1;
            min-width: 60px;
            @media ($mediaSm) {
                min-width: 45px;
            }
        }

        .mainRight {
            @extend %outline-basic;
            background-color: white;
            flex: 22;
            display: flex;
            justify-content: center;
            align-items: start;
            color: $gray-normal;
            padding: 8% 8%;
            gap: 5%;

            .col-1 {
                flex: 1;
                display: flex;
                flex-direction: column;
                align-items: start;
                gap: 20px;
                height: 100%;

                .col-1-wrap {
                    h3 {
                        font-size: $font-size-l;
                    }

                    ul {
                        font-family: $font-family-zh;
                        letter-spacing: .1rem;

                        li {
                            margin: 10px 0;
                            display: flex;

                            a {
                                color: $gray-normal;
                                text-decoration: underline solid 1px $gray-normal;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                        }

                    }
                }
            }

            .googleMap {
                width: 100%;
                max-width: 600px;
                height: 100%;
            }
        }

        .col-2 {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: $font-size-l;
                margin-bottom: 25px;
            }

            #contact-form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;
                padding-right: 80px;

                .form-row {
                    display: flex;
                    width: 100%;

                    label {
                        flex: 1;
                        text-align: end;
                        margin-right: 15px;
                    }

                    input,
                    textarea {
                        flex: 4;
                        width: 100%;
                        color: black;
                        font-size: $font-size-s;
                        padding: 5px;
                        outline-color: transparent;
                        border-radius: 2pt;
                        border: $gray-light solid 1px;

                        &::placeholder {
                            color: $gray-light;
                            padding-left: 5px;
                        }

                        &:focus {
                            box-shadow: 0 0 3px 2px $gray-light;
                        }
                    }
                }


                #submit-btn {
                    width: 70px;
                    background-color: white;
                    border: $gray-normal solid 1px;
                    color: $gray-normal;
                    margin-left: 90px;
                    cursor: pointer;
                    position: relative;
                    

                    #submit-arrow {
                        position: absolute;
                        width: 15px;
                        right: -10px;
                        top: 2px;
                        opacity: 0;
                    }
                    
                    &:hover {
                        background-color: $gray-dark;
                        color: $gray-brighter;
                        border-radius: 4px;
                        
                        #submit-arrow {
                            opacity: 1;
                            transform: translateX(15px);  
                            transition: transform 0.5s ease;
                      
                        }
                    }

                }

                small {
                    font-size: $font-size-xs;
                    color: $gray-light;
                    text-align: center;
                }
            }
        }

        @media ($mediaSm) {
            .mainRight {
                flex-direction: column;
                padding: 20px 10px;
                overflow: scroll;
                justify-content: start;

                .col-1 {
                    .col-1-wrap {
                        font-size: $font-size-s;
                    }
                }

                .col-2 {
                    h3 {
                        margin-bottom: 5px;
                        font-size: $font-size-m;
                    }

                    #contact-form {
                        padding: 0 5px;
                        gap: 5px;

                        .form-row {
                            flex-direction: column;

                            label {
                                text-align: start;
                                font-size: $font-size-s;
                            }
                        }

                        #submit-btn {
                            margin: 5px 0;
                        }
                    }
                }
            }
        }
    }
}

footer {
    height: 65px;
    @extend %bg-linear-left;
    line-height: 65px;
    text-align: center;
    letter-spacing: .2rem;
    border-top: $gray-light 2px solid;
    color: $gray-normal;
    font-family: $font-family-zh;

    small {
        font-size: $font-size-xs;
    }
}


/*選單面板*/
#menuOverlay-right {
    // border: solid indianred;
    position: absolute;
    z-index: 999;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: end;
    overflow: hidden;
    display: none;
    animation: hide .35s both;

    &.show {
        display: flex;
        animation: show 0.4s both;
    }

    .menu-wrap {
        height: 100%;
        width: 80%;
        background-image: url(../images/bg-linear-left.jpg);
        background-color: white;
        background-position: right;
        background-repeat: no-repeat;
        display: flex;
        position: relative;

        .col-page {
            // border: solid lawngreen;
            flex: 1;
            min-width: 225px;
            z-index: 10;

            ul {
                // border: solid goldenrod;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li {
                    // border: solid palevioletred;
                    width: auto;

                    a {
                        text-align: center;

                    }

                    p {
                        @extend %menu-link-p;
                    }

                    span {
                        @extend %menu-link-span;
                    }

                    &:hover {
                        P {
                            @extend %menu-link-p-hover;
                        }

                        span {
                            @extend %menu-link-span-hover;
                        }
                    }

                }
            }
        }

        .col-pic {
            // border: solid lightskyblue;
            flex: 3;
            z-index: 10;
            margin-top: 90px;


            .thumbnail-pic {
                // border: solid lightsalmon;
                display: flex;

                figure {
                    width: 100px;
                    height: 75px;
                    margin-right: 40px;
                    position: relative;
                    // border: solid lightsalmon;

                    h3 {
                        @include menu-thumb;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .bg-menu {
            width: 700px;
            position: absolute;
            bottom: -50px;
            right: -70px;
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: 0.6;
        }
    }
}

#menuOverlay-left {
    // border: solid indianred;
    position: absolute;
    z-index: 999;
    top: 65px;
    height: calc(100vh - 65px);
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    justify-content: start;
    overflow: hidden;
    display: none;
    animation: hide .35s both;

    &.show {
        display: flex;
        animation: show 0.4s both;
    }

    .menu-wrap {
        height: 100%;
        width: 80%;
        background-image: url(../images/bg-linear-left.jpg);
        background-color: white;
        background-position: right;
        background-repeat: no-repeat;
        display: flex;
        position: relative;

        .col-page {
            // border: solid lawngreen;
            flex: 1;
            min-width: 225px;
            z-index: 10;

            ul {
                // border: solid goldenrod;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;

                li {
                    // border: solid palevioletred;
                    width: auto;

                    a {
                        text-align: center;

                    }

                    p {
                        @extend %menu-link-p;
                    }

                    span {
                        @extend %menu-link-span;
                    }

                    &:hover {
                        P {
                            @extend %menu-link-p-hover;
                        }

                        span {
                            @extend %menu-link-span-hover;
                        }
                    }

                }
            }
        }

        .col-pic {
            // border: solid lightskyblue;
            flex: 3;
            z-index: 10;
            margin-top: 90px;


            .thumbnail-pic {
                // border: solid lightsalmon;
                display: flex;

                figure {
                    width: 100px;
                    height: 75px;
                    margin-right: 40px;
                    position: relative;

                    h3 {
                        @include menu-thumb;

                        &:hover {
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .bg-menu {
            width: 700px;
            position: absolute;
            bottom: -50px;
            right: -70px;
            z-index: 1;
            mix-blend-mode: multiply;
            opacity: 0.6;
        }
    }
}

@media ($media-ipadPro) {
    #menuOverlay-right {

        .menu-wrap {
            background-position: left;
            background-repeat: repeat-y;
            flex-direction: column;
            width: 30%;

            .col-page {
                height: 100%;
                margin-top: 8%;

                ul {
                    height: 100%;
                }
            }

            .col-pic {
                .thumbnail-pic {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 0;

                    figure {
                        width: 50%;
                        height: auto;
                        margin: 15px 0;
                    }
                }
            }

            .ham-inside-R {
                order: -1;
                align-self: flex-end;
            }
        }
    }

    #menuOverlay-left {
        .menu-wrap {
            background-position: left;
            background-repeat: repeat-y;
            flex-direction: column;
            width: 30%;

            .col-page {
                height: 100%;
                margin-top: 0;
                display: flex;
                flex-direction: column;

                ul {
                    height: 100%;
                }
            }

            .col-pic {
                .thumbnail-pic {
                    flex-direction: column;
                    align-items: center;
                    margin-top: 0;

                    figure {
                        width: 50%;
                        height: auto;
                        margin: 15px 0;
                    }
                }
            }

            .ham-inside-L {
                order: -1;
                align-self: flex-start;
            }
        }
    }
}

@media ($mediaSm) {

    #menuOverlay-right,
    #menuOverlay-left {
        .menu-wrap {
            width: 80%;

            .col-page {
                min-width: none;
                height: 100%;

                ul {
                    height: 280px;
                }
            }

            .col-pic {
                margin: 0 20px;

                .thumbnail-pic {
                    flex-direction: row;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10%;

                    figure {
                        width: 100px;
                    }
                }

            }
        }
    }
}

.hamburger {
    // 修改button預設樣式
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px;

    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-normal;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }
}

.mainLeft {
    display: flex;
    justify-content: end;
    align-items: start;
}

.ham-inside-R {
    // 修改button預設樣式
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px 20px;
    align-self: self-start;

    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-normal;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }

    .bar {
        &:nth-child(1) {
            transform: rotate(45deg) translateY(6px) translateX(5px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px)translateX(5px);
        }
    }
}

.ham-inside-L {
    // 修改button預設樣式
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 5px 20px;


    .bar {
        display: block;
        width: 24px;
        height: 3px;
        background-color: $gray-normal;
        margin: 5px auto;
        transition: 0.35s; //漢堡動畫
    }

    .bar {
        &:nth-child(1) {
            transform: rotate(45deg) translateY(6px) translateX(5px);
        }

        &:nth-child(2) {
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px)translateX(5px);
        }
    }
}

/*RWD共用區*/
@media ($media-ipadPro) {

    #project,
    #content,
    #about,
    #contact {
        background-repeat: repeat-y;

        #mainLeft,
        #mainRight {
            background-repeat: repeat-y;
        }

        #content-main,
        #about-main {
            .middle {

                .mainRight,
                .mainLeft {
                    background-repeat: repeat-y;
                }
            }
        }
    }
}