@use 'variables' as *;
@use 'function' as *;
@use '_keyframe' as*;

// 輪播套件
.timeline {
    width: 100%;
    height: 100%;
    background-color: $gray-bright;
    // box-shadow: 0 5px 25px 5px rgba(black, .2);

    .swiper-container {
        height: 100%;
        width: 100%;
        position: relative;
    }

    .swiper-wrapper {
        transition: 2s cubic-bezier(.68, -0.4, .27, 1.34) .2s;
    }

    // 手機版尺寸
    .swiper-slide {
        position: relative;
        color: white;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        &::after {
            // 陰影
            content: "";
            position: absolute;
            z-index: 1;
            right: 0%;
            bottom: -80%;
            width: 100%;
            height: 100%;
            background-color: rgba($gray-dark, .3);
            box-shadow: -200px 0 50px 30vw rgba($gray-dark, .3);
            rotate: 90deg;
            border-radius: 100%;
        }

        &-content {
            // 排文字區
            font-family: 'Lucida Sans', sans-serif;
            // border: lightcoral solid;
            position: absolute;
            text-align: center;
            width: 80%;
            max-width: 310px;
            right: 50%;
            bottom: 10%;
            transform: translate(50%, 0);
            font-size: 12px;
            z-index: 2;
        }

        .timeline-year {
            font-family: $font-family-zh-sans;
            font-weight: $font-w-medium;
            // border: blue solid;
            display: block;
            font-style: italic;
            font-size: 32px;
            margin-bottom: 10px;
            transform: translate3d(20px, 0, 0);
            color: $gray-brighter;
            opacity: 0;
            transition: .2s ease .4s;
        }

        .timeline-title {
            font-weight: 800;
            font-size: 24px;
            margin: 0 0 10px;
            opacity: 0;
            transform: translate3d(20px, 0, 0);
            transition: .2s ease .5s;
        }

        .timeline-text {
            line-height: 1.5;
            opacity: 0;
            transform: translate3d(20px, 0, 0);
            transition: .2s ease .6s;
        }

        &-active {
            .timeline-year {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: .4s ease 1.6s;
            }

            .timeline-title {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: .4s ease 1.7s;
            }

            .timeline-text {
                opacity: 1;
                transform: translate3d(0, 0, 0);
                transition: .4s ease 1.8s;
                display: none;
            }
        }
    }

    .swiper-pagination {
        right: 5% !important;
        height: 100%;
        display: none;
        flex-direction: column;
        justify-content: center;
        font-family: $font-family-zh-sans;
        // font-style: italic;
        font-weight: $font-w-thin;
        font-size: 18px;
        z-index: 1;
        // border: yellow solid;

        &::before {
            // 直線裝飾
            content: "";
            position: absolute;
            left: -30px;
            top: 0;
            height: 100%;
            width: 1px;
            background-color: rgba(white, .2);
        }

        &-bullet {
            // 右排文字
            width: auto;
            height: auto;
            text-align: center;
            opacity: 1;
            background: transparent;
            color: $gray-brighter;
            margin: 15px 0 !important;

            position: relative;

            &::before {
                // 圓點樣式
                content: "";
                position: absolute;
                top: 8px;
                left: -32.5px;
                width: 6px;
                height: 6px;
                border-radius: 100%;
                background-color: $gray-brighter;
                transform: scale(0);
                transition: .2s;
            }

            &-active {
                color: $gray-brighter;

                &::before {
                    transform: scale(1);
                }
            }
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        // border: green solid;
        background-size: 30px 30px;
        top: 60%;
        width: 30px;
        height: 30px;
        margin-top: 0;
        z-index: 2;
        transition: .2s;
    }

    .swiper-button-prev {
        // border: rgb(58, 255, 40) solid;
        top: 92%;
        left: 5%;
        background-image: url(../images/index-arrow-prev.svg);

        &:hover {
            transform: translateX(-3px);
        }
    }

    .swiper-button-next {
        top: 92%;
        right: 5%;
        background-image: url(../images/index-arrow-next.svg);

        &:hover {
            transform: translateX(3px);
        }
    }

    // 平板尺寸
    @media screen and ($mediaSmUp) {
        .swiper-slide {
            &::after {
                right: -60%;
                bottom: 25vh;
                width: 140px;
                height: 120%;
                background-color: rgba($gray-dark, .6);
                box-shadow: -230px 0 150px 50vw rgba($gray-dark, .6);
                rotate: 0deg;
            }

            &-content {
                right: 23%;
                top: 50%;
                transform: translateY(-50%);
                width: 310px;
                font-size: 11px;
                text-align: right;
            }

            .timeline-year {
                margin-bottom: 0;
                font-size: 32px;
            }

            .timeline-title {
                font-size: 46px;
                margin: 0;
            }

            &-active {
                .timeline-text {
                    display: block;
                }
            }
        }

        .swiper-pagination {
            display: flex;
        }

        .swiper-button-prev {
            // border: rgb(99, 19, 19) solid;
            top: 15%;
            left: auto;
            right: 7%;
            transform: rotate(90deg) translate(0, 10px);

            &:hover {
                transform: rotate(90deg) translate(-3px, 10px);
            }
        }

        .swiper-button-next {
            top: auto;
            bottom: 15%;
            right: 7%;
            transform: rotate(90deg) translate(0, 10px);

            &:hover {
                transform: rotate(90deg) translate(3px, 10px);
            }
        }
    }

    // 電腦尺寸
    @media screen and (min-width: 1025px) {
        .swiper-slide {
            &::after {
                right: -40%;
                bottom: -12%;
                width: 240px;
                height: 50%;
                background-color: rgba($gray-dark, .7);
                box-shadow: -230px 0 150px 39vw rgba($gray-dark, .7);
            }

            &-content {
                // border: solid saddlebrown;
                right: 17%;
            }
        }

        .swiper-button-prev {
            // border: rgb(233, 243, 100) solid;
            top: 15%;
            left: auto;
            right: 6%;
        }

        .swiper-button-next {
            top: auto;
            bottom: 15%;
            right: 6%;
        }
    }
}

// 輪播套件結束