// 較複雜或需要寫入變數的樣式程式碼放這裡
// 搭配@include使用
@use '.variables' as *;

@mixin menu-thumb{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(34, 34, 34, .6);
    color: white;
    font-weight: $font-w-light;
    font-size: $font-size-s;
    opacity: 0;
    transition: $speed-fast;
    outline: $gray-darker 2px solid;
    outline-offset: -6px;
}